[submodule "lib-externes/AboutDialog-Delphi-Component"]
	path = lib-externes/AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies
[submodule "lib-externes/DelphiBooks-Common"]
	path = lib-externes/DelphiBooks-Common
	url = https://github.com/DeveloppeurPascal/DelphiBooks-Common.git
